.todoInputPage {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 10%;
    transform: translate(-50%, -50%);
    margin: 100px 100px;
}

.todoInput {
    width: 500px;
    height: 30px;
    border: 2px solid rgb(197, 15, 106);
    border-radius: 5px;
    margin: 100px 500px;
}

.addButton {
    height: 25px;
    margin: 150px -573px;
    border: 2px solid rgb(170, 150, 230);
    border-radius: 5px;
}

.addButton:hover {
    background-color: rgb(170, 150, 230);
}