.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: 500;
    color: rgb(73, 69, 69);
    margin: 20px 120px;
}

.list-item-page {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.list {
    margin-top: -100px;
    margin-left: 100px;
    width: 430px;
    height: 400px;
    overflow-y: auto;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    width: 404px;
    min-height: 28px;
    border: 1px solid rgb(119, 92, 200);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 5px 5px 10px;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.list-item:hover {
    box-shadow: 0 4px 8px rgb(170, 150, 230);
}

.item-description {
    width: 220px;
}

.buttons {
    border: 1px solid rgb(105, 78, 184);
    border-radius: 3px;
    margin-left: 5px;
    padding: 5px 3px 3px 3px;
}

.buttons:hover {
    background-color: rgb(170, 150, 230);
}